<div class="navbar">
    {% if title == 'RatzSlayer3' %}
      <div></div>
    {% elseif winner == false %}
      <a onclick='alert("Fight not finish !");'><</a>
    {% elseif winner %}
      <a class="leaveFights" onclick='document.cookie = "CurrentFight=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";' href="./fight"><</a>
    {% else %}
      <a href="{{dir}}/"><</a>
    {% endif %}

    <div class="title text-center">
        {{title}}
    </div>

    <div id="authentification">
    {% if admin %}
        <a href="{{dir}}/users/parameters">
            <i class="fas fa-cog"></i>
        </a>
        <a href="{{dir}}/users/logout">
            <i class="fas fa-power-off"></i>
        </a>
        {% else %}
        <a href="{{dir}}/users/login">
            <i class="fas fa-user"></i>
        </a>
    {% endif %}
    </div>

</div>
