<div class="navbar">

    {% if title != 'RatzSlayer3' %}
      <a href="{{dir}}/"><</a>
    {% else %}
      <div></div>
    {% endif %}

    <div class="title text-center">
        {{title}}
    </div>

    <div id="authentification">
    {% if admin %}
        <a href="{{dir}}/users/parameters">
            <i class="fas fa-cog"></i>
        </a>
        <a href="{{dir}}/users/logout">
            <i class="fas fa-power-off"></i>
        </a>
        {% else %}
        <a href="{{dir}}/users/login">
            <i class="fas fa-user"></i>
        </a>
    {% endif %}
    </div>

</div>
