{% extends 'fabric/base.html.twig' %}

{% block css %}
{{ parent() }}
<link href="{{dir}}/src/css/fight.css" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="nes-container is-rounded">
    <button type="button" class="gameMode" data-mode="1vs1">1vs1</button>
    <button type="button" class="gameMode" data-mode="3vs3">3vs3</button>
</div>

<div class="fight-view">

  <div class="column">
    {% if characters|length > 1 %}
      <div class="list-name">Characters</div>
    {% else %}
      <div class="list-name">Character</div>
    {% endif %}
    <div class="fight-card">
    {% for character in characters %}
      <div data-id="{{character.id}}" class="select-char nes-container is-rounded">
        <div class="picture">
          <img src="{{dir}}/src/img/fighters/{{character.picture}}" onerror="this.src='{{dir}}/src/img/icons/characters.png'">
        </div>
        <div class="name">
          {{character.firstname}} {{character.lastname}}
        </div>
        <div class="stats">
          <p><img src="{{dir}}/src/img/icons/weight.png" title="Weight">: {{character.weight}}</p>
          <p><img src="{{dir}}/src/img/icons/size.png" title="Size">: {{character.size}}</p>
          <p><img src="{{dir}}/src/img/icons/heart.png" title="Health">: {{character.hp}}</p>
          <p><img src="{{dir}}/src/img/icons/sword.png" title="Attack">: {{character.attack}}</p>
          <p><img src="{{dir}}/src/img/icons/shield.png" title="Defense">: {{character.def}}</p>
          <p><img src="{{dir}}/src/img/icons/agility.png" title="Agility">: {{character.agility}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

<div class="separator"><img src="{{dir}}/src/img/lightning.png" class="lightning"></div>

  <div class="column">
    {% if monsters|length > 1 %}
      <div class="list-name">Monsters</div>
    {% else %}
      <div class="list-name">Monster</div>
    {% endif %}
    <div class="fight-card">
    {% for monster in monsters %}
    <div data-id="{{monster.id}}" class="select-monster nes-container is-rounded">
      <div class="picture">
        <img src="{{dir}}/src/img/fighters/{{monster.picture}}" onerror="this.src='{{dir}}/src/img/icons/monsters.png'">
      </div>
      <div class="name">
        <p>{{monster.name}}</p>
      </div>
      <div class="stats">
        <p><img src="{{dir}}/src/img/icons/weight.png" title="Weight">: {{monster.weight}}</p>
        <p><img src="{{dir}}/src/img/icons/size.png" title="Size">: {{monster.size}}</p>
        <p><img src="{{dir}}/src/img/icons/heart.png" title="Health">: {{monster.hp}}</p>
        <p><img src="{{dir}}/src/img/icons/sword.png" title="Attack">: {{monster.attack}}</p>
        <p><img src="{{dir}}/src/img/icons/shield.png" title="Defense">: {{monster.def}}</p>
        <p><img src="{{dir}}/src/img/icons/agility.png" title="Agility">: {{monster.agility}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="overlay disable"></div>
<div class="popup-fight disable nes-container is-rounded">
  <p>Your fight is ready !</p>
  <div class="popup-button">
    <button type="submit" class="nes-btn is-error cancel-fight">Cancel</button>
    <button type="submit" class="nes-btn is-primary start-fight">Fight !</button>
  </div>
</div>
{% endblock %}
