    {% extends 'base.html.twig' %}

{% block css %}
{{ parent() }}
<link href="{{dir}}/src/css/fighters.css" rel="stylesheet">
{% endblock %}

{% block main %}

{% for fighter in fighters %}

    <div class="fighter {{fighterType}}">
        <img src="{{dir}}/src/img/fighters/{{fighter.picture}}" alt="img alt">

        {% if fighter.name %}
            <p class="name">Name: {{fighter.name}}</p>
        {% else %}
            <p class="lastname">Lastname: {{fighter.lastname}}</p>
            <p class="firstname">Firstname: {{fighter.firstname}}</p>
        {% endif %}
        <p>Weigth: {{fighter.weight}}</p>
        <p>Size: {{fighter.size}}</p>
        <p>Health: {{fighter.hp}}</p>
        <p>Attack: {{fighter.attack}}</p>
        <p>Defense: {{fighter.def}}</p>
        <p>Agility: {{fighter.agility}}</p>
        <i class="remove fas fa-trash-alt" data-id="{{fighter.id}}"></i>
    </div>
{% endfor %}

{% endblock %}
