{% extends 'fabric/base.html.twig' %}

{% block css %}
{{ parent() }}
<link href="{{dir}}/src/css/fight.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="fight-view">
  <div class="col">
    {% if characters|length > 1 %}
      <div class="list-name">Characters</div>
    {% else %}
      <div class="list-name">Character</div>
    {% endif %}
    <div class="fight-card">
    {% for character in characters %}
      <div data-id="{{character.id}}" class="select-char nes-container is-rounded">
        <div class="picture">
          <img src="{{dir}}/src/img/fighters/{{character.picture}}">
        </div>
        <div class="name">
          {{character.firstname}} {{character.lastname}}
        </div>
        <div class="stats">
          <p><img src="{{dir}}/src/img/icons/weight.png">: {{character.weight}}</p>
          <p><img src="{{dir}}/src/img/icons/size.png">: {{character.size}}</p>
          <p><img src="{{dir}}/src/img/icons/heart.png">: {{character.hp}}</p>
          <p><img src="{{dir}}/src/img/icons/sword.png">: {{character.attack}}</p>
          <p><img src="{{dir}}/src/img/icons/shield.png">: {{character.def}}</p>
          <p><img src="{{dir}}/src/img/icons/agility.png">: {{character.agility}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="col">
    {% if monsters|length > 1 %}
      <div class="list-name">Monsters</div>
    {% else %}
      <div class="list-name">Monster</div>
    {% endif %}
    <div class="fight-card">
    {% for monster in monsters %}
    <div data-id="{{monster.id}}" class="select-monster nes-container is-rounded">
      <div class="picture">
        <img src="{{dir}}/src/img/fighters/{{monster.picture}}">
      </div>
      <div class="name">
        <p>{{monster.name}}</p>
      </div>
      <div class="stats">
        <p><img src="{{dir}}/src/img/icons/weight.png">: {{monster.weight}}</p>
        <p><img src="{{dir}}/src/img/icons/size.png">: {{monster.size}}</p>
        <p><img src="{{dir}}/src/img/icons/heart.png">: {{monster.hp}}</p>
        <p><img src="{{dir}}/src/img/icons/sword.png">: {{monster.attack}}</p>
        <p><img src="{{dir}}/src/img/icons/shield.png">: {{monster.def}}</p>
        <p><img src="{{dir}}/src/img/icons/agility.png">: {{monster.agility}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="overlay disable"></div>
<div class="popup-fight disable nes-container is-rounded">
  <p>Your fight is ready !</p>
  <div class="popup-button">
    <button type="submit" class="nes-btn is-error cancel-fight">Cancel</button>
    <button type="submit" class="nes-btn is-primary start-fight">Fight !</button>
  </div>
</div>
{% endblock %}
