{% extends 'fabric/base.html.twig' %}

{% block css %}
{{ parent() }}
<link href="{{dir}}/src/css/fight.css" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="fight-view">
  <div class="column">
    <div class="winner">
      {% if winner == 'c' %}
       Winner !
      {% endif %}
    </div>
    <div class="fight-card">
      <div data-id="{{character.id}}" class="select-char nes-container is-rounded">
        <div class="picture">
          <img src="{{dir}}/src/img/fighters/{{character.picture}}" onerror="this.src='{{dir}}/src/img/icons/Characters.png'">
        </div>
        <div class="name">
          {{character.firstname}} {{character.lastname}}
        </div>
        <div class="stats">
          <p><img src="{{dir}}/src/img/icons/weight.png">: {{character.weight}}</p>
          <p><img src="{{dir}}/src/img/icons/size.png">: {{character.size}}</p>
          <p><img src="{{dir}}/src/img/icons/heart.png">: {{character.hp}}</p>
          <p><img src="{{dir}}/src/img/icons/sword.png">: {{character.attack}}</p>
          <p><img src="{{dir}}/src/img/icons/shield.png">: {{character.def}}</p>
          <p><img src="{{dir}}/src/img/icons/agility.png">: {{character.agility}}</p>
        </div>
      </div>
    </div>

    <div class="fight-log">
      {% for log in logChar|slice(1, logChar.length) %}
      <div class="nes-container is-rounded">
        <p>Round: {{log.round}}</p>
        <p>Damage taken: -{{logChar[loop.index - 1].hp - log.hp}}</p>
        <label for="file">Life:</label><progress id="file" max="{{character.hp}}" value="{{log.hp}}"></progress>
      </div>
      {% endfor %}
      </div>
  </div>

  <div class="separator"><img src="{{dir}}/src/img/lightning.png" class="lightning"></div>

  <div class="column">
    {% if winner == 'm' %}
     <div class="winner">
       Winner !
     </div>
    {% endif %}
    <div class="fight-card">
    <div data-id="{{monster.id}}" class="select-monster nes-container is-rounded">
      <div class="picture">
        <img src="{{dir}}/src/img/fighters/{{monster.picture}}" onerror="this.src='{{dir}}/src/img/icons/Monsters.png'">
      </div>
      <div class="name">
        {{monster.name}}
      </div>
      <div class="stats">
        <p><img src="{{dir}}/src/img/icons/weight.png">: {{monster.weight}}</p>
        <p><img src="{{dir}}/src/img/icons/size.png">: {{monster.size}}</p>
        <p><img src="{{dir}}/src/img/icons/heart.png">: {{monster.hp}}</p>
        <p><img src="{{dir}}/src/img/icons/sword.png">: {{monster.attack}}</p>
        <p><img src="{{dir}}/src/img/icons/shield.png">: {{monster.def}}</p>
        <p><img src="{{dir}}/src/img/icons/agility.png">: {{monster.agility}}</p>
      </div>
    </div>
  </div>

  <div class="fight-log">
    {% for log in logMonster|slice(1, logMonster.length) %}
    <div class="nes-container is-rounded">
      <p>Round: {{log.round}}</p>
      <p>Damage taken: -{{logMonster[loop.index - 1].hp - log.hp}}</p>
      <label for="file">Life:</label><progress id="file" max="{{monster.hp}}" value="{{log.hp}}"></progress>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
