    {% extends 'fabric/base.html.twig' %}

{% block css %}
{{ parent() }}
<link href="{{dir}}/src/css/fighters.css" rel="stylesheet">
{% endblock %}

{% block main %}

{% for fighter in fighters %}

    <div class="nes-container is-rounded fighter {{fighterType}}">
        <img src="{{dir}}/src/img/fighters/{{fighter.picture}}" onerror="this.src='{{dir}}/src/img/icons/{{fighterType}}.png'">

        {% if fighter.name %}
            <p class="name">Name: {{fighter.name}}</p>
        {% else %}
            <p class="lastname">Lastname: {{fighter.lastname}}</p>
            <p class="firstname">Firstname: {{fighter.firstname}}</p>
        {% endif %}
        <div class="stats">
          <div><p>Weigth:</p> <p>{{fighter.weight}}</p></div>
          <div><p>Size:</p> <p>{{fighter.size}}</p></div>
          <div class="hp icon"><p>Health:</p> <p>{{fighter.hp}}</p></div>
          <div class="att icon"><p>Attack:</p> <p>{{fighter.attack}}</p></div>
          <div class="def icon"><p>Defense:</p> <p>{{fighter.def}}</p></div>
          <div><p>Agility:</p> <p>{{fighter.agility}}</p></div>
        </div>
        {% if admin %}
        <div>
            <a href="{{dir}}/{{fighterType}}/edit/{{fighter.id}}">
                <i class="fas fa-edit"></i>
            </a>
            <i class="remove fas fa-trash-alt" data-id="{{fighter.id}}"></i>
        </div>
        {% endif %}

    </div>
{% endfor %}

{% if admin %}
    {% if fighterType == 'characters' %}
    <div class="col-8 col-lg-4 mb-5 p-lg-3 zoom">
        <a href="characters/create">
            <img src="{{dir}}/src/img/sofa.jpg" alt="Sweet sofa" class="img-fluid">
        </a>
        <h3 class="mt-3 text-center">New character</h3>
    </div>
    {% else %}
    <div class="col-8 col-lg-4 mb-5 p-lg-3 zoom">
        <a href="monsters/create">
            <img src="{{dir}}/src/img/eggs.jpg" alt="Sweet sofa" class="img-fluid">
        </a>
        <h3 class="mt-3 text-center">New monster</h3>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
